:root {
  --large-button-size: 96px;
}

body {
  font-family: sans-serif;

  display: grid;
  grid-template-columns: 1fr minmax(auto, 40rem) minmax(10rem, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "controls puzzle details";

  align-items: stretch;

  /*
  This is very important and different from height: 100%;
  If height is 100%, then elements iwth "position: sticky" will
  un-stick once you scroll past one screen's worth of vertical space.
  */
  height: auto;
}

.controls-panel {
  grid-area: controls;
  background: white;
}

main {
  grid-area: puzzle;
}

.details-panel {
  grid-area: details;
  background: white;
}

.controls-panel,
.details-panel,
nav,
.quote-author {
  position: sticky;
  top: 0px;
}

.btn-hamburger {
  color: #aaa;
  font-size: var(--large-button-size);
  font-weight: 900;
  background: none;
  border: none;
}

.quote-author__name {
  font-weight: 600;
}

@media (width < 768px) {
  :root {
    --large-button-size: 48px;
  }

  body {
    grid-template-columns: 3rem auto;
    grid-template-rows: min-content auto;
    grid-template-areas:
      "controls details"
      "puzzle puzzle";
  }

  .details-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: end;
    flex-wrap: wrap;
  }

  .quote-author {
    display: flex;
    gap: 1rem;
    padding-right: 3rem;
  }
}

@media (width >=768px) {
  .controls-panel {
    position: relative;
    justify-self: right;
    margin-top: 6rem;
    top: 2rem;

    button {
      margin-left: auto;

      /* Scale from 120px to 0px as the viewport width shrinks from 1300px to 900px */
      margin-right: calc(max(0px, min((100vw - 900px) * (120 / (1300 - 900)), 120px)));
    }
  }

  .details-panel {
    justify-self: center;
  }

  .quote-author {
    border-left: 1px solid #eee;
    margin-top: 8rem;
    top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
  }
}

main {
  padding: 1rem;
}

h1 {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #ccc;

  @media (width <768px) {
    display: none;
  }
}

/* Main puzzle styles */

.cryptogram-words {
  font-family: monospace;
  font-size: 2rem;

  display: flex;
  flex-wrap: wrap;

  gap: 1.2ch;
}

.word {
  display: flex;
  flex-wrap: nowrap;
  gap: 3px;
}

.char {
  --hover-bg: #ffffff;
  --hover-outline: #bbb;
  --hover-color: #888;

  --focus-bg: #cdcce9;
  --focus-outline: black;
  --focus-color: #6c6c99;

  min-width: 0;
  width: calc(1ch + 6px);
  overflow: hidden;
  padding: 3px;
  line-height: 1;

  border: none;
  user-select: none;
  cursor: default;

  &:not(.char-punctuation) {
    background: #eaeaea;
    &::placeholder {
      color: #9b9da0;
    }
  }

  &.char-filled {
    &:where(.char-wrong) {
      background: #ebb0b0;
      color: #df3620;
    }

    &:where(:not(.char-wrong)) {
      background: #5553d8;
      color: rgb(237, 238, 255);
    }

    --hover-bg: #3936c0;
    --hover-color: rgb(203, 205, 240);
    --hover-outline: none;

    --focus-bg: #080735;
    --focus-color: rgb(203, 205, 240);
    --focus-outline: #6b69e7;
  }

  &.char-wrong {
    --hover-bg: #df3620;
    --hover-outline: #270000;
    --hover-color: #ebb0b0;

    --focus-bg: #5f1c1c;
    --focus-outline: #270000;
    --focus-color: #fff2cf;
  }

  &:not(.char-punctuation):not(.char-filled):hover {
    font-weight: 700;
  }

  &::selection {
    background: transparent;
  }

  &:where(.char-filled):focus {
    outline: 2px solid var(--focus-outline);
  }
}